site_name: My Docs
theme:
  name: material
  palette:
    scheme: slate
  font:
    text: Roboto
  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.instant
    - navigation.tabs
    
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - blog
  - search
  - material-plausible
extra:
  analytics:
    provider: plausible
    domain: example.com
nav:
  - Home: index.md
  - Blog:
    - blog/index.md
